body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #b2bec3;
}

/* <====== Refactoring ======> */

.ui.menu {
  background-color: #81d15e;
  border-radius: 0;
}

.ui.menu .item {
  color: #ffff;
}

.ui.menu .active.item {
  color: #ffff;
}

.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
  color: #ffff;
}

/* <====== End Refactoring ======> */

.dashboard-body {
  padding: 0 3%;
  margin-top: 30px;
}

.dashboard-menu {
  background-color: red;
}
